@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css");

* {
  box-sizing: border-box;
}



body {
  margin: 0;
  font-family: Arial, sans-serif;
}

.auth-container {
  min-height: 100vh;
  background: linear-gradient(to right, #4b6cb7, #182848);
  display: flex;
  justify-content: center;
  align-items: center;
}

.form-box {
  background: #fff;
  padding: 40px;
  width: 360px;
  border-radius: 10px;
  text-align: center;
}

.form-box h2 {
  margin-bottom: 20px;
}

.social-icons {
  display: flex;
  justify-content: center;
  gap: 15px;
  margin-bottom: 15px;
}

.social-icons i {
  width: 40px;
  height: 40px;
  background: #eee;
  border-radius: 50%;
  line-height: 40px;
  cursor: pointer;
}

.form-box input {
  width: 100%;
  padding: 10px;
  margin: 8px 0;
  box-sizing: border-box;
}


.form-box button {
  width: 100%;
  padding: 10px;
  background: #4b6cb7;
  color: #fff;
  border: none;
  margin-top: 10px;
  cursor: pointer;
}

.forgot {
  display: block;
  text-align: right;
  font-size: 13px;
  margin-top: 5px;
}

.switch {
  margin-top: 15px;
}

.success {
  color: green;
  margin-top: 10px;
}

/* Password eye */

.password-box {
  position: relative;
}

.password-box input {
  width: 100%;
  padding: 10px 40px 10px 10px;
  box-sizing: border-box;
}


.eye {
  position: absolute;
  right: 12px;
  top: 50%;
  transform: translateY(-50%);
  width: 18px;
  height: 12px;
  border: 2px solid #555;
  border-radius: 50%;
  cursor: pointer;
}

.eye::before {
  content: "";
  position: absolute;
  width: 6px;
  height: 6px;
  background: #555;
  border-radius: 50%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.eye.hide::after {
  content: "";
  position: absolute;
  width: 2px;
  height: 100%;
  background: #555;
  top: 0;
  left: 50%;
  transform: rotate(45deg);
}
